/* put your css changes here */

/* @import url("dark_theme.css"); */

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

a{
    color: black!important;
}
a:hover{
    color:#2699ab!important;
}

.header-wrapper{
    color:black!important;
}

.ui header{
    color:black;
}

.footer{
    position: fixed;
    left:0px;    
    bottom:0px;
    height:30px;
    width:100%;
    color:black!important;
}

.fork-flag{
    color:black!important;
}

.section{
    color:black!important;
}

body{
    color:black!important;
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button{
    color:black!important;
}
.basic.label.ui{
    color:white!important;
    background-color: black!important;
}

.blue.small.label{
    color:white!important;
    background-color: black!important;
}

.ui.small.button, .ui.small.buttons .button, .ui.small.buttons .or{
    color:black!important;
}

.ui.table thead th{
    color:black!important;
}
.ui .text.grey{
    color:black!important;
}

.version{
    color:black!important;
}

.text{
    color:black!important;
}
