/* put your css changes here */

@import url("dark_theme.css"); 

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

/*a{
    color: white!important;
}
a:hover{
    color:rgba(196, 45, 45, 0.95)!important;
}

.header-wrapper{
    color:white!important;
}

.ui header{
    color:white!important;
}

.footer{
    position: fixed;
    left:0px;    
    bottom:0px;
    height:30px;
    width:100%;
    color:white!important;
}

.fork-flag{
    color:white!important;
}

.section{
    color:white!important;
}

body{
    color:white!important;
    background-color: #46494C!important;
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button{
    color:white!important;
}
.basic.label.ui{
    color:black!important;
    background-color: white!important;
}

.blue.small.label{
    color:black!important;
    background-color: white!important;
}

.ui.small.button, .ui.small.buttons .button, .ui.small.buttons .or{
    color:white!important;
}

.ui.table thead th{
    color:white!important;
}
.ui .text.grey{
    color:white!important;
}

.version{
    color:black!important;
}

.text{
    color:white!important;
}

.time-since poping up{
    color:white!important;
}

.active.item{
    color:white!important;
}

#repo-clone-url{
    color:white!important;
}

.huge{
    color:white!important;
}

.divider{
    color:white!important;
}

.left{
    color:white;
}

thead{
    background-color:gray!important;
    color:white!important;
}

.ui tabular menu navbar{
    background-color:grey;
}

#repo-readme{
    color:white!important;
}

.octicon {
    color:white!important;
}

.octicon{
    color:white!important;
}

.description has-emoji{
background-color: gray!important;
}

.octicon octicon-git-branch{
    background-color: gray!important;
}
.ui unstackable fixed single line table{
    background-color: grey!important;
}
.right menu{
    color:white!important;
}

.mega-octicon {
    color:white!important;
}

.ui huge breadcrumb{
    color:red!important;
}

#file-content{
    color:grey!important;
}
.ui tabular menu navbar{
    color:white!important;
}

#file-content{
    color:white!important;
}

#an-example-that-runs-with-traefik{
    color:white!important;
}
tr{
    color:white!important;
}
#repo-files-table{
    background-color: gray!important;
}*/

.octicon{
    color:white!important;
}
.active.item:nth-child(1){
    color:white!important;
}

.active.item:nth-child(2){
    color:white!important;
}

.active.item:nth-child(3){
    color:white!important;
}

#repo-clone-https{
    color:white!important;
}

#repo-clone-url{
    color:white!important;
}

.three > .time-since[data-content="Tue\,\ 27\ Aug\ 2019\ 01\:39\:55\ UTC"][title=""]{
    color:white!important;
}

.version{
    color:white!important; 
}

.huge{
    color:white!important;
}

.divider{
    color:white!important;
}


.display.inline:nth-child(1) > .labeled.button.ui > .basic.label.ui{
    background-color: #63B4D1!important;
}
.display.inline:nth-child(2) > .labeled.button.ui > .basic.label.ui{
    background-color: #63B4D1!important;
}
.right.ui > .labeled.button.ui > .basic.label.ui{
    background-color: #63B4D1!important;
}

.blue.small.label{
    background-color: #63B4D1!important;
    color:black!important;
}
.item > p{
    color:white!important;
    background-color: #262626!important;
}
.item > p:hover{
    color:#63B4D1!important;
}

.description{
    color:white!important;
    background-color: #262626!important;
}

.item:nth-child(1) > a > .black.text{
    color:white!important;
    background-color: #262626!important;
}

.item:nth-child(1) > a > .black.text:hover{
    color:#63B4D1!important;
}
.item:nth-child(2) > a > .black.text{
    color:white!important;
    background-color: #262626!important;
}
.item:nth-child(2) > a > .black.text:hover{
    color:#63B4D1!important;
}

.item:nth-child(3) > a > .black.text{
    color:white!important;
    background-color: #262626!important;
}

.item:nth-child(3) > a > .black.text:hover{
    color:#63B4D1!important;
}

.section{
    color:white!important;
}

table{
    color:black!important;
    background-color: gray!important;
}

.file-view > p{
    color:white!important;
}
p > code{
    color:white!important;
}


.tr:nth-child(6){
    color:white!important;
}

#repo-readme {
    color:white!important;
    
}

.hljs{
    color:white!important;
}
.hljs-selector-class:nth-child(1){
    color:white!important;
}
.left{
    color:white!important;
}
.left > strong:nth-child(1){
    color:white!important;
}
.language > .text{
    color:white!important;
}
a[href$="gogs\.io\/"]{
    color:white!important;
}

body{
    background-color:#262626!important;
}



tr{
    color:white!important;
}

table{
    color:white!important;
    width:100%!important;
    background-color: #4E4E4E!important;

}

.octicon-clippy{
    background-color: grey!important;
    color:#262626!important;
}

a[href$="gogs\.io\/"]{
    color:white!important;
}
tr:nth-child(1) > .name > a {
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(2) > .name > a{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(3) > .name > a{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(4) > .name > a{
    color:white!important;
    background-color: #4E4E4E!important;
}

tr:nth-child(5) > .name > a{
    color:white!important;
    background-color: #4E4E4E!important;
}

tr:nth-child(6) > .name > a{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:hover{
    background-color: black!important;
}
tr:nth-child(1) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(1) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}
tr:nth-child(2) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(2) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}

tr:nth-child(3) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}

tr:nth-child(3) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}

tr:nth-child(4) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(4) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}

tr:nth-child(5) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(5) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}

tr:nth-child(6) > .message.collapsing.has-emoji{
    color:white!important;
    background-color: #4E4E4E!important;
}

tr:nth-child(6) > .message.collapsing.has-emoji:hover{
    color:white!important;
    background-color: black!important;
}
tr:nth-child(1) > .age.grey.right > .time-since[data-content="Tue\,\ 28\ May\ 2019\ 14\:07\:12\ UTC"][title=""]{
    color:white!important;
    background-color: #4E4E4E!important;
}

span[data-content="Wed\,\ 14\ Aug\ 2019\ 19\:12\:55\ UTC"]{
    color:white!important;
    background-color: #4E4E4E!important;
}

span[data-content="Sun\,\ 25\ Aug\ 2019\ 15\:27\:24\ UTC"]{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(4) > .age.grey.right > .time-since[data-content="Tue\,\ 27\ Aug\ 2019\ 01\:39\:55\ UTC"][title=""]{
    color:white!important;
    background-color: #4E4E4E!important;
}
tr:nth-child(5) > .age.grey.right > .time-since[data-content="Tue\,\ 28\ May\ 2019\ 14\:07\:12\ UTC"][title=""]{
    color:white!important;
    background-color: #4E4E4E!important;
}

span[data-content="Sun\,\ 28\ Jul\ 2019\ 01\:17\:05\ UTC"]{
    color:white!important;
    background-color: #4E4E4E!important;
}

tr:hover a {
    color:white!important;
  }
  
  #repo-files-table tr:hover {
    color:white!important;
  }
  
  #repo-files-table tr:hover span {
    /* repo time last changed */
    color:white!important;
  }

  .footer{
    position: fixed;
    left:0px;    
    bottom:0px;
    height:30px;
    width:100%;
    color:white!important;
}
  

  



  







